{{ template "header" . }}

const (
{{- range $key, $value := .Records }}
	{{ $.ConstPrefix}}{{ ToGoIdentifier $value.Identifier }} {{ $.DataType }} = {{ $key }} // {{ if $value.IsImportOnly }}Deprecated: {{ end }}{{ CommentsFor $ $value }}
{{- end }}
)

{{ template "static_data" . }}