{{ template "header" . }}

// ADIF_VER is the version of the ADIF specification.
// This is the version that is currently supported by this package.
const ADIF_VER = "{{ .Spec.Version }}"

const ADIF_VER_MAJOR = {{ index (Split .Spec.Version ".") 0 }} // ADIF Major Version
const ADIF_VER_MINOR = {{ index (Split .Spec.Version ".") 1 }} // ADIF Minor Version
const ADIF_VER_PATCH = {{ index (Split .Spec.Version ".") 2 }} // ADIF Patch Version

// The ADIF Version Status (Released | Proposed)
const ADIF_STATUS = "{{ .Spec.Status }}"
