{{ template "header" . }}

const (
{{- range $key, $value := .Records }}
	{{ $.ConstPrefix}}{{ ToGoIdentifier $key.String }} {{ $.DataType }} = "{{ $key.String }}" // {{ if $value.IsImportOnly }}Deprecated: {{ end }}{{ CommentsFor $ $value }}
{{- end }}
)

{{ template "static_data" . }}