{{ template "header" . }}

const (
{{- range $key, $value := .Records }}
	{{- $metadata := $value.CodeGeneratorMetadata }}
	{{ $metadata.ConstName }} {{ $.DataType }} = {{ $metadata.ConstValue }} // {{ if $value.IsImportOnly }}Deprecated: {{ end }}{{ $metadata.Comments }}
{{- end }}
)

{{ template "static_data-field" . }}