{{ template "header" . }}

const (
{{- range $key, $value := .CodeGen.CodeGenRecords }}
	{{- $metadata := $value.CodeGenMetadata }}
	{{ $metadata.ConstName }} {{ $.CodeGen.CodeGenMetadata.DataType }} = {{ $metadata.ConstValue }} // {{ if $metadata.IsDeprecated }}Deprecated: {{ end }}{{ $metadata.ConstComments }}
{{- end }}
)

{{- template "static_data" . }}
{{- template "static_data_type" . }}