{{- define "static_data_func" }}
// All {{ .DataType }} specifications including depreciated and import only.
func {{ .DataType }}ListAll() []Spec{
	return append([]Spec(nil), internal{{ .DataType }}ListAll...)
}

// All {{ .DataType }} specifications values that are NOT marked import-only.
func {{ .DataType }}ListCurrent() []Spec{
	return append([]Spec(nil), internal{{ .DataType }}ListCurrent...)
}

// A map of all {{ .DataType }} specifications.
func {{ .DataType }}Map() map[{{ .DataType }}]Spec{
	cp := make(map[{{ .DataType }}]Spec, len(internal{{ .DataType}}Map))
	maps.Copy(cp, internal{{ .DataType }}Map)
    return cp
}
{{- end }}

{{- define "static_data" }}
{{ template "static_data_func" . }}

// A map of all {{ .DataType }} specifications.
var internal{{ .DataType }}Map = map[{{ .DataType }}]Spec {
{{- range $key, $value := .Records }}
	{{ $.ConstPrefix }}{{ ToGoIdentifier $key.String }}: {{ ToGoCode $value $.PackageName }},
{{- end }}
}

var internal{{ .DataType }}ListAll = []Spec {
{{- range $key, $value := .Records }}
	internal{{ $.DataType }}Map[{{ $.ConstPrefix }}{{ ToGoIdentifier $key.String }}],
{{- end }}
}

var internal{{ .DataType }}ListCurrent = []Spec {
{{- range $key, $value := .Records }}
{{- if not $value.IsImportOnly }}
	internal{{ $.DataType }}Map[{{ $.ConstPrefix }}{{ ToGoIdentifier $key.String }}],
{{- end }}
{{- end }}
}
{{- end }}

{{- define "static_data_composite" }}
{{ template "static_data_func" . }}

// A map of all {{ .DataType }} specifications.
var internal{{ .DataType }}Map = map[{{ .DataType }}]Spec {
{{- range $key, $value := .Records }}
	"{{ $key.String }}": {{ ToGoCode $value $.PackageName }},
{{- end }}
}

// All {{ .DataType }} specifications including depreciated and import only.
var internal{{ .DataType }}ListAll = []Spec {
{{- range $key, $value := .Records }}
	internal{{ $.DataType }}Map["{{ $key.String }}"],
{{- end }}
}

// All {{ .DataType }} specifications values that are NOT marked import-only.
var internal{{ .DataType }}ListCurrent = []Spec {
{{- range $key, $value := .Records }}
{{- if not $value.IsImportOnly }}
	internal{{ $.DataType }}Map["{{ $key.String }}"],
{{- end }}
{{- end }}
}
{{- end }}