{{- define "static_data-field" }}
// A map of all {{ .DataType }} specifications.
// For convenience, this data is mutable.
// If you require immutable data, please use the specdata package.
var {{ .DataType }}Map = map[{{ .DataType }}]Spec {
{{- range $key, $value := .Records }}
	{{- $metadata := $value.CodeGeneratorMetadata }}
	{{ $metadata.ConstName }}: {{ ToGoCode $value $.PackageName }},
{{- end }}
}

// All {{ .DataType }} specifications including depreciated and import only.
// For convenience, this data is mutable.
// If you require immutable data, please use the specdata package.
var {{ .DataType }}ListAll = []Spec {
{{- range $key, $value := .Records }}
	{{- $metadata := $value.CodeGeneratorMetadata }}
	{{ $.DataType }}Map[{{ $metadata.ConstName }}],
{{- end }}
}

// All {{ .DataType }} specifications values that are NOT marked import-only.
// For convenience, this data is mutable.
// If you require immutable data, please use the specdata package.
var {{ .DataType }}ListCurrent = []Spec {
{{- range $key, $value := .Records }}
	{{- $metadata := $value.CodeGeneratorMetadata }}
{{- if not $value.IsImportOnly }}
	{{ $.DataType }}Map[{{ $metadata.ConstName }}],
{{- end }}
{{- end }}
}
{{- end }}