{{- define "static_data" }}
// A map of all {{ .CodeGen.CodeGenMetadata.DataType }} specifications.
// For convenience, this data is mutable.
// If you require immutable data, please use the specdata package.
var {{ .CodeGen.CodeGenMetadata.DataType }}Map = map[{{ .CodeGen.CodeGenMetadata.DataType }}]Spec {
{{- range $key, $value := .CodeGen.CodeGenRecords }}
	{{- $metadata := $value.CodeGenMetadata }}
	{{ $metadata.ConstName }}: {{ ToGoCode $value $.CodeGen.CodeGenMetadata.PackageName }},
{{- end }}
}

// All {{ .CodeGen.CodeGenMetadata.DataType }} specifications including deprecated and import only.
// For convenience, this data is mutable.
// If you require immutable data, please use the specdata package.
var {{ .CodeGen.CodeGenMetadata.DataType }}ListAll = []Spec {
{{- range $key, $value := .CodeGen.CodeGenRecords }}
	{{- $metadata := $value.CodeGenMetadata }}
	{{ $.CodeGen.CodeGenMetadata.DataType }}Map[{{ $metadata.ConstName }}],
{{- end }}
}

// All {{ .CodeGen.CodeGenMetadata.DataType }} specifications that are NOT marked import-only.
// For convenience, this data is mutable.
// If you require immutable data, please use the specdata package.
var {{ .CodeGen.CodeGenMetadata.DataType }}ListCurrent = []Spec {
{{- range $key, $value := .CodeGen.CodeGenRecords }}
	{{- $metadata := $value.CodeGenMetadata }}
{{- if not $value.IsImportOnly }}
	{{ $.CodeGen.CodeGenMetadata.DataType }}Map[{{ $metadata.ConstName }}],
{{- end }}
{{- end }}
}
{{- end }}