{{- define "static_data" }}
// A map of all {{ .CodeGen.CodeGeneratorMetadata.DataType }} specifications.
// For convenience, this data is mutable.
// If you require immutable data, please use the specdata package.
var {{ .CodeGen.CodeGeneratorMetadata.DataType }}Map = map[{{ .CodeGen.CodeGeneratorMetadata.DataType }}]Spec {
{{- range $key, $value := .CodeGen.CodeGeneratorRecords }}
	{{- $metadata := $value.CodeGeneratorMetadata }}
	{{ $metadata.ConstName }}: {{ ToGoCode $value $.CodeGen.CodeGeneratorMetadata.PackageName }},
{{- end }}
}

// All {{ .CodeGen.CodeGeneratorMetadata.DataType }} specifications including deprecated and import only.
// For convenience, this data is mutable.
// If you require immutable data, please use the specdata package.
var {{ .CodeGen.CodeGeneratorMetadata.DataType }}ListAll = []Spec {
{{- range $key, $value := .CodeGen.CodeGeneratorRecords }}
	{{- $metadata := $value.CodeGeneratorMetadata }}
	{{ $.CodeGen.CodeGeneratorMetadata.DataType }}Map[{{ $metadata.ConstName }}],
{{- end }}
}

// All {{ .CodeGen.CodeGeneratorMetadata.DataType }} specifications that are NOT marked import-only.
// For convenience, this data is mutable.
// If you require immutable data, please use the specdata package.
var {{ .CodeGen.CodeGeneratorMetadata.DataType }}ListCurrent = []Spec {
{{- range $key, $value := .CodeGen.CodeGeneratorRecords }}
	{{- $metadata := $value.CodeGeneratorMetadata }}
{{- if not $value.IsImportOnly }}
	{{ $.CodeGen.CodeGeneratorMetadata.DataType }}Map[{{ $metadata.ConstName }}],
{{- end }}
{{- end }}
}
{{- end }}